[2019-12-27 22:51] iRayanKhan opened #1 "Failure to install plugin. (Building)"
Hi there,
I am currently using a Raspberry Pi 3B+ with
node version: v12.11.1
npm version: 6.13.4

When I install this plugin after following the directions in the Readme, I get this error:
[code]
I do not get this error install for other plugins, I also have ensured git is updated to the latest version.
The npm logs show:
( Sorry for the sake of me I can't get them to  open, I'm in the dir).

Tro

[2019-12-31 12:48] #1 closed

[2020-01-03 18:53] donavanbecker opened #23 "Feature Request: Read & Write Access to Honeywell API"

[2020-01-07 18:20] #23 closed

[2020-01-13 01:22] iRayanKhan opened #50 "Can't control devices"
Hi there,

Every day it seems like the access and refresh tokens refresh and I have to generate a new one constantly, is this a known issue, or am I doing something wrong?

[2020-01-14 14:36] #50 closed

[2020-01-15 22:22] greenkeeper[bot] opened #53 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2020-01-16 00:49] #53 closed

[2020-03-12 03:58] donavanbecker opened #102 "test"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-03-18 17:48] NogginTheNog opened #106 "Honeywell - "rate limit has been exhausted""
**Describe the bug**

The following is appearing in the logs when I click on the thermostat in the Home app

[3/18/2020, 17:42:35] [HoneywellHome] [DEBUG] Set TargetHeatingCoolingState: 1
[3/18/2020, 17:42:35] [HoneywellHome] Sending request to Honeywell API. mode: Heat, coolSetpoint: 10, heatSetpoint: 21
[3/18/2020, 17:42:35] [HoneywellHome] [DEBUG] {"mode":"Heat","thermostatSetpointStatus":"Temp

[2020-03-22 16:37] #106 closed

[2020-05-15 00:23] rcoletti116 opened #160 "Plugin Functionality?"
I have a Honeywell T5 that has native HomeKit support. I installed this plugin and get a duplicate thermostat. I'm just curious what functionality this plugin provides for thermostats that already support HomeKit. It looks like most of the Thermostats this supports have native HomeKit support already. Sorry if this has been asked before. I couldn't find an answer.

[2020-05-18 13:20] #160 closed

[2020-06-03 14:25] adammiarka opened #162 "Does this support the T10 as well?"
Does this integration also support the T10 thermostat.  Would be very similar to the T9, but Honeywell's pro model.   Need the T10 to control whole home humidifier.

[2020-06-03 17:20] #162 closed

[2020-06-06 16:18] roficas opened #163 "TCC Devices"
**Describe The Bug:**
In debug mode, the logs show my 3 devices are offline, but I can see and control them using the Honeywell Home App.

**To Reproduce:**
I just authenticated using the UI (and double checked that the config is in the file) and when home bridge starts it shows in the log the message in the title for each one of the 3 thermostats I have here.

**Expected behavior:**
Thermostats s

[2020-06-06 16:18] roficas opened #209 "TCC - Round Devices"
**Describe The Bug:**
In debug mode, the logs show my 3 devices are offline, but I can see and control them using the Honeywell Home App.

**To Reproduce:**
I just authenticated using the UI (and double checked that the config is in the file) and when home bridge starts it shows in the log the message in the title for each one of the 3 thermostats I have here.

**Expected behavior:**
Thermostats s

[2020-07-03 10:41] dependabot-preview[bot] opened #168 "Dependabot couldn't authenticate with npm.pkg.github.com/homebridge-plugins"
Dependabot couldn't authenticate with npm.pkg.github.com/homebridge-plugins.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/homebridge-plugins) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/homebridge-plugins/update-logs/38980459).

[2020-07-03 11:05] #168 closed

[2020-07-16 14:45] donavanbecker opened #186 "Beta Testers Needed - Version 6.0.0"
I need help from beta testers. I have changed the way devices are found and also added room sensors.

Things to know:
- Devices will be registering differently so cache may get messed up. if someone wants to help with how this is happened I am open to suggestions.

To Install:
[code]
To Revert:
[code]

[2020-07-18 16:07] blazzik opened #187 "UnhandledPromiseRejectionWarning: StatusCodeError: 404"
Started getting this today...First it told me my token was expired, so I unlinked the account and re-linked it.  Now I get this upon homebridge startup...

(node:15852) UnhandledPromiseRejectionWarning: StatusCodeError: 404 - {"code":"InvalidInput"}
    at new StatusCodeError (/usr/lib/node_modules/homebridge-honeywell-home/node_modules/request-promise-core/lib/errors.js:32:15)
    at Request.plum

[2020-07-19 00:19] donavanbecker commented on #186
@blazzik Can you turn on homebridge debug on so that I can see the rest of the error.

[2020-07-23 13:55] roficas commented on #186
with the latest beta:

![image](https://user-images.githubusercontent.com/8245962/88294784-a9a75f80-ccca-11ea-9e3c-f0ac886e9114.png)

[2020-07-28 21:30] #186 closed

[2020-07-29 16:28] donavanbecker opened #191 "Beta Testers Needed for Version 6.1.0"
A change to Honeywell API has Happened, refresh tokens are expiring sooner then before so implemented a change to see if this will fix the issue if you you are getting a new refresh token on restarts.

To Test:
[code]
To Revert:
[code]

[2020-07-29 21:54] trevor-gililland commented on #186
What I have noticed is the room sensors beta fails with the error: "Cannot add a bridged Accessory with the same UUID as another bridged Accessory"

[2020-07-30 15:11] donavanbecker commented on #191
the log JSON device info would be helpful. are you on the homebridge discord server?

[2020-07-30 19:22] #191 closed

[2020-07-30 20:07] MaverickC2 opened #194 "Failed to update status of ******* Request failed with status code 401"
Upgraded to v6.1.0 and everything was working for a few hours now I see a lot of code 401 errors:

[7/30/2020, 15:44:07] [HoneywellHome] Failed to update status of Downstairs Request failed with status code 401
[7/30/2020, 15:44:07] [HoneywellHome] Failed to update status of Downstairs Request failed with status code 401
[7/30/2020, 15:44:07] [HoneywellHome] Failed to update status of Downstairs R

[2020-08-01 04:03] #194 closed

[2020-08-05 05:43] CreeT6 opened #196 "Failed to refresh access token. device.groups is not iterable"
[8/4/2020, 10:37:38 PM] [HoneywellHome] Got access token: xx
[8/4/2020, 10:37:38 PM] [HoneywellHome] New refresh token: xx
[8/4/2020, 10:37:38 PM] [HoneywellHome] Homebridge config.json has been updated with new refresh token.
[8/4/2020, 10:37:39 PM] [HoneywellHome] # of Locations Found: 1.
[8/4/2020, 10:37:39 PM] [HoneywellHome] Getting devices for xx...
[8/4/2020, 10:37:39 PM] [HoneywellHome] Fa

[2020-08-06 17:20] #196 closed

[2020-08-11 19:46] Gex2501 opened #197 "Refresh Access Token: Failed"
**Describe The Bug:**
Using a T9 thermostat, there is no control or view of current status. T9 Thermostat is configured for heating only with hydronic radiant heating. A fan accessory shows up in addition to the thermostat which does nothing. Thermostat also has option for cooling.

**To Reproduce:**
Follow configuration instructions as normal. I assume the T9 is of issue being configured as heat

[2020-08-24 16:27] #197 closed

[2020-09-02 09:04] sdamasoc opened #213 "LCC - T5 devices"
**Describe The Bug:**

I have a T5 honeywell thermostat and I got the follow error when try to add it to homebridge:
     device.groups is not iterable

I found this error on the issue for TCC devices where a special if was added to platform.js.

I switched the "TCC" string with "LCC" string on the platform.js file lines 272 and 402 and now it's working.

I assume that the groups array is not avai

[2020-09-02 09:14] sdamasoc commented on #213
I have a T5 honeywell thermostat and I got the follow error when try to add it to homebridge:
     device.groups is not iterable

Here is the JSON response for my device:
{
  displayedOutdoorHumidity: 52,
  vacationHold: { enabled: false },
  currentSchedulePeriod: { day: 'Tuesday', period: 'P1' },
  scheduleCapabilities: {
    availableScheduleTypes: [ 'None', 'Geofenced', 'TimedEmea' ],
    sche

[2020-09-03 21:32] snopas576 opened #226 "T6 Pro"
**Describe The Bug:**

My thermostat, a T6 Pro, does not appear in HomeKit

**To Reproduce:**

Follow procedure to set up device like normal via homebridge config plugin (go to honeywell developer, make an app, get the key and secret, paste it in, sign in with honeywell account, etc)

**Expected behavior:**

The thermostat should have appeared in my HomeKit setup

**Logs:**

[code]

**Homebridge C

[2020-09-04 10:51] donavanbecker commented on #226
T6 Pro

[2020-09-05 17:39] sigedis-sed commented on #213
It shows -18 as in homebridge

[2020-09-06 19:43] donavanbecker opened #231 "Beta Testings: v8.0.0"
Looking to release `v8.0.0` of `homebridge-honeywell-home`. Looking for Beta testers.

To Install:
[code]
To Revert:
[code]

[2020-09-09 19:32] donavanbecker commented on #226
`v7.2.2-beta.0`

[2020-09-10 06:19] ericingravity opened #238 "CurrentHeatingCoolingState not Updating"
**Describe The Bug:**
The status of the thermostats show they are actively cooling even though the system isn't running. Home app shows in the status: 'Downstairs. 68º. Cooling.' The tile icon shows '(68º) Downstairs ... Cooling to 72º'. The tile icon is also white, indicating it is on. When I check the status in the Honeywell Home app, it does not show the equipment running.

**To Reproduce:**
1.

[2020-09-13 10:43] donavanbecker commented on #231
What if you restart or clear cache?

[2020-09-13 11:38] #213 closed

[2020-09-15 15:55] #238 closed

[2020-09-16 17:42] #226 closed

[2020-09-16 22:52] #231 closed

[2020-09-19 19:10] jvmahon opened #264 "I"m confused - which plugin?"
I am a bit confused as to the difference between the two plugins:

- Homebridge-Honeywell-Home-Thermostat, and
- Homebridge-Honeywell-Home

Can a further description be added to the README or here to explain why there are the two?

I have a Honeywell Redlink system, but it is generally compatible with plugins for their WiFi thermostats and anything that works on the TCC system, so I wanted to try

[2020-09-19 20:55] #264 closed

[2020-09-23 15:46] 00JohnD opened #265 "HOOBS - not registered by any plugin"
Hello, I followed the instruction, and i get an error message on Hoobs launch:

_Loaded plugin "homebridge-honeywell-leak".
The requested platform "HoneywellLeak" was not registered by any plugin.
Your config.json is requesting the platform "HoneywellLeak" which has not been published by any installed plugins._

Can you please help?

[2020-09-23 16:50] #265 closed

[2020-10-06 14:26] Vortec4800 opened #266 "Set Away Mode?"
Does this plugin support setting the away state? I'd basically like a switch or something that can turn away mode on or off based on other factors in the home. Is this possible with their API, and does your plugin support something like that?

[2020-10-21 05:05] #209 closed

[2020-11-08 22:03] arrmo opened #268 "Cannot find a user with these credentials"
Hi,

Could be me, but getting this error when trying to link accounts ... but if I use the same credentials (checked 3 times ... LOL), I can log in to the developer site, confirm that the app has been created => it just breaks when trying to link.

Sorry, not sure what logs to really collect, from the Homebridge side, given that the login is failing. Thinking it's URL (for auth) related perhaps? J

[2020-11-10 01:30] grahamwilliams opened #270 "Support for Honeywell D6 and heat pump systems"
I’ve attempted to use this with my Honeywell-driven heat pump D6 Thermostat; could we discuss adding support for that device?

[2020-11-14 22:09] #268 closed

[2020-11-18 19:04] jay9055 opened #290 "Certify for HOOBs"
**Is your feature request related to a problem? Please describe.**
When attempting to use the plugin on Hoobs. the "link account" screen does not show

The plugin will install and you can enter the keys and such but it does not link the "link account" box
**Describe the solution you'd like**
Certify the plugin so it works as intended in Hoobs or provide a workaround

![2020-11-18_140258](https://u

[2020-11-20 22:06] gcmichael opened #323 "Sensor readout incorrect"
I have three sensors located in different parts of the house. All three sensors read the same humidity and temperate. The readings are different from the sensors in the Honeywell Home app

[2020-11-24 09:47] vhm14u2c opened #309 "Can this plugin add automation to t5 thermostat?"
Wasn’t sure if it was implemented,
Where if thermostat heats or cools, can Turn on switch, like fan.  Then when heating or cooling turns off, turn off switch.

I see it can be done via 3rd party app with correct accessories-

https://www.imore.com/how-create-temperature-based-automation-homekit

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like*

[2020-11-26 05:24] ericingravity opened #310 "Plugin attempting to add a sensor twice"
**Describe The Bug:**

Added Honeywell Sensor ([link](https://www.honeywellstore.com/store/products/honeywell-smart-room-sensor-for-t9t10-thermostats-rchtsensor-1pk.htm)) to a thermostat. Homebridge won't start due to errors. Looks like plugin is trying to add the sensor twice and fails. I have tried clearing Homebridge caches several times.

**To Reproduce:**

1. Added Honeywell Sensor to a therm

[2020-11-29 16:06] #270 closed

[2020-11-29 21:03] #290 closed

[2020-12-03 05:46] fabianoflnsp opened #324 "Support for Honeywell D6 Pro"
Just purchased a new D6 Pro thermostat for ductless split. Works well, but when being discovered by Homebridge I get the following messages:

[12/3/2020, 1:25:36 AM] [HoneywellHomeThermostat] Total Locations Found: 1
[12/3/2020, 1:25:36 AM] [HoneywellHomeThermostat] Getting devices for name_removed...
[12/3/2020, 1:25:36 AM] [HoneywellHomeThermostat] Total Devices Found at name_removed: 1
[12/3/20

[2020-12-05 22:05] #309 closed

[2020-12-19 03:35] #324 closed

[2020-12-26 04:19] #323 closed

[2020-12-26 04:19] #310 closed

[2020-12-28 23:02] jamesngob opened #373 "Leak Sensor data is not refreshing"
**Describe The Bug:**

The temperature and humidity reading will not be updated according to the Honeywell Home Leak Detector. The value will only be updated if I restart the homebridge
**To Reproduce:**

**Expected behavior:**

**Logs:**

[code]

**Homebridge Config:**

[code]

**Screenshots:**

**Thermostat Model:**

# **Environment:**

* **Node.js Version**:
* **NPM Version**:
* **Homebridge Ve

[2021-01-02 23:09] donavanbecker opened #378 "Leak Sensor Display Issue"
**Describe The Bug:**

If you change the unit of measurement to Celcius, the Temperature reading would be rounded up to 0.5 stop and the humidity would be added +/-1%
But overall, all good

**To Reproduce:**

**Expected behavior:**

**Logs:**

[code]

**Homebridge Config:**

[code]

**Screenshots:**

**Device & Model:**

# **Environment:**

- **Node.js Version**:
- **NPM Version**:
- **Homebridge

[2021-01-09 02:00] #373 closed

[2021-01-23 04:17] cherk947 opened #395 "Cannot Change temperature"
If I have my Homebridge on I cannot change the temperature in the Honeywell Home app.  It changes and then changes back to the previous temp.   I get the same error if I change the temp in Homekit.

I get the following:

HoneywellHome] Sending request for Family Room Thermostat to Honeywell API. mode: Heat coolSetpoint: 78 heatSetpoint: 66 thermostatSetpointStatus: undefined
[HoneywellHome] "Reque

[2021-01-28 18:10] dkossman opened #399 "Does this plugin work with the THM6000R7001 internet gateway?"
Hello,

I have two Honeywell VisionPro RedLink thermostats, model TH8321R1001.  I plan to purchase a THM6000R7001 Redlink/internet gateway, which apparently will allow me to control these via the Honeywell Home app.

Can you clarify whether I would then be able to use this plugin to control these thermostats?

thanks

[2021-01-28 18:10] #399 closed

[2021-01-28 18:14] dkossman opened #400 "is TH8321R1001 RedLink internet gateway supported?"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Hello,

I have two Honeywell VisionPro RedLink thermostats, model TH8321R1001. I plan to purchase a THM6000R7001 Redlink/internet gateway, which apparently will allow me to control these via the Honeywell Home app.

Can you clarify whether I would then be able to use this plugin to control the

[2021-02-09 01:28] #400 closed

[2021-02-10 01:00] wtadler opened #410 "v9.0.0 - Read Only, Round"
I have added my Lyric Round thermostat to Homebridge using this plugin. I can reliably see the temperature and status, but can't change it. On previous versions I would get various errors, like "Request failed with status code 400," but I don't get those any more with the newest version of this plugin.

**To Reproduce:**

Try to change the temperature in HomeKit on iOS or MacOS.

**Expected behavi

[2021-02-10 05:08] #395 closed

[2021-02-10 14:41] bramsmulders opened #412 "v9.0.0 Beta - T5 Testers"
**Describe The Bug:**

I'm experiencing problems since this pas night (02:00 GMT+1) with homebridge & my Honeywell thermostat.
I cannot alter the temperature from homekit or the homebridge-UI. After a couple of seconds the temperature just jumps back to its original state. In the homebridge logs there are errors logged:
[code]

When I change the temperature via the honeywell app the thermostat wil

[2021-02-10 18:25] cherk947 commented on #395
Issue is still occurring today.

[2021-02-11 06:50] donavanbecker opened #414 "v9.0.0 Beta Testers Needed - All Thermostat Model Testing Needed."
## Beta Testing v9.0.0

I have combined all thermostat files into 1 file. This means that all Thermostat Models will create a Thermostat Device, I need to keep track of all devices that have been tested and if they are working properly. I will update below to keep track, please comment if you have tried a different model then below and if it is working or if you are having issues.

Also Please ope

[2021-02-11 08:58] AbeltjeNL opened #416 "v9.0.0 Beta - T6"
**Describe The Bug:**
Cannot change temperature within HomeApp using plugin versions 8.4.0 and 8.5.1-beta 0.
Works fine with 8.3.2.

**To Reproduce:**
When 8.4.0 or 8.5.1-beta 0 is installed and I check the HB log files I'll see a request for changing the temperature but the requested temperature is not set.
In 8.3.2 the temperature is set to the requested value.

**Expected behavior:**
I would ex

[2021-02-13 14:08] #412 closed

[2021-02-13 14:10] #416 closed

[2021-02-16 20:33] #414 closed

[2021-02-16 22:52] #378 closed

[2021-02-24 18:36] angladacamps opened #434 "humidity 0% sensor?????????????"
**Describe Your Problem:**

Please, can you tell me why is a humidity (0%) sensor in my Thermostat accessory?

thank you

[2021-02-24 18:37] #434 closed

[2021-04-17 04:32] Gewch opened #472 "Room Sensor Occupancy Not Working"
Honeywell T9 Room Sensors not detecting Occupancy correctly in Homebridge.

**Describe The Bug:**

The Honeywell T9 Room Sensors are not picking up motion in Homebridge.  Checking the Honeywell Home App and the Thermostat > Priority> Active Rooms setting shows motion and occupancy correctly.

**To Reproduce:**

Room Sensors are automatically imported when I linked my Honeywell Home app to the Home

[2021-04-19 03:50] #472 closed

[2021-04-22 16:34] hm0486 opened #475 "heatSetpoint not sticking"
**Describe Your Problem:**

I have a scene that sets my basement thermostat to auto with a temp range of 55-82.  When this scene is triggered either directly or via an automation, the 82 coolSetpoint is communicated to the thermostat and "sticks", but the heatSetpoint only briefly flashes correctly on the thermostat/Honeywell app and then reverts to where it was (in this case at 70).  I have notic

[2021-05-14 02:09] #475 closed

[2021-06-09 13:24] bramsmulders opened #505 "Changing anything (temperature, heat, off) from homekit will result in a HAP status 400 error"
**Describe The Bug:**

Changing anything (temperature, heat, off) from homekit will result in a HAP status 400 error.

**To Reproduce:**

Add thermostat to homebridge -> change temperature from home app.

**Expected behavior:**

No errors and a working thermostat from homekit.

**Logs:**

[code]

**Homebridge Config:**

[code]

**Device & Model:**

T6 Wired

# **Environment:**

- **Node.js Version

[2021-06-23 22:46] CZ-ops opened #508 "Configuration link no longer valid - https://account.honeywellhome.com/"
In the step listed - Login to your Honeywell Home Account. - Honeywell home link reroutes to https://account.honeywellhome.com/videostorage This has nothing to do with T9 Thermostat or T9 Smart Room Sensors device setup or API key connection. Is this a recent redirect by Honeywell?

<img width="1368" alt="Screen Shot 2021-06-23 at 5 45 04 PM" src="https://user-images.githubusercontent.com/68564194

[2021-06-23 22:46] #508 closed

[2021-06-26 14:55] InfiniteTape opened #509 "Leak detector support doesn't report leaks"
**Describe The Bug:**

I had a water leak. I got a notification from the Honeywell Home app, but the Homebridge plugin does not show the leak as detected.

**To Reproduce:**

Trigger a leak. Preferably not an actual leak, but in this case it was.

**Expected behavior:**

Leak detector shows "Leak Detected" = 1

**Logs:**

[code]

**Homebridge Config:**

[code]

**Screenshots:**

None needed. Prett

[2021-07-11 17:50] kevincognito commented on #475
Same issue here on a T9. It seems to be an issue with the TemporaryHold mode. When setting to PermenantHold, all set points in Auto work… in TemporaryHold, only the cooling set point sticks.

You can see some more strange detail around what is going on in the Honeywell Home app that is not shown on the Thermostat itself. It seems to be going into a Geofenced hold mode instead of a time hold mode f

[2021-07-11 18:57] kevincognito opened #510 "Heating Setpoint not sticking during TemporaryHold on T9"
**Describe The Bug:**

When setting thermostat temperatures in Auto mode for TemporaryHold, only the cooling set point sticks.

You can see some more strange detail around what is going on in the Honeywell Home app that is not shown on the Thermostat itself. It first goes into a hold mode based on the Schedule Name instead of a time hold mode ending at a particular time, and then loses the heat se

[2021-07-11 18:57] #510 closed

[2021-07-14 11:14] #509 closed

[2021-07-20 03:09] #505 closed

[2021-08-02 17:16] ponkeydunch opened #523 "Homekit Automations Failing"
Homekit commands I issue (manually changing the temperature) are working. However, timed automations are not functioning and returning an error code.

Specific Logs:

[02/08/2021, 12:00:01] [HoneywellHome] "Request failed with status code 400"
(node:894) UnhandledPromiseRejectionWarning: Error: HAP Status Error: -70408
    at new HapStatusError (/usr/local/lib/node_modules/homebridge/node_modules/

[2021-08-03 15:01] ponkeydunch commented on #523
I looked through some old issues and saw that someone fixed a similar error by deleting the cache. I deleted mine and now the automations seem to be working without spitting back error codes.

Feel free to close this.

Thank you for the app!

[2021-08-03 15:55] #523 closed, assigned to donavanbecker

[2021-08-09 06:02] keness521 opened #531 "Is D6 Pro supported?"
I have some confusion on whether the D6 Pro is supported? I see a thread in ‘Closed Issues’ where it appears support was added, but I don’t see it in the compatible devices list or any mention anywhere other than that thread.

If I had one I’d just give it a try, but I’m thinking of buying one depending on whether it is supported or not, so I can’t.

Thanks!

[2021-08-09 11:26] donavanbecker commented on #531
I am pretty sure it is supported but you could reach out to the user that requested support and see if is working. Than let me know and I can updated document.

[2021-08-09 21:05] keness521 commented on #531
Thanks!

Not quite sure I can figure out how to send a message to them, so I may just buy a D6 Pro anyway, since it looks promising, and I'll let you know!

If there are any issues, I'll be happy to help out if I can once I have it!

[2021-08-19 16:52] matthiasotto opened #543 "Persistent 400 Error when updating temperature for T10Pro"
**Describe The Bug:**

Setting the heat or cool temperature using my iOS Homeapp is not reflected on my actual thermostat nor the Honeywell Home app.

**To Reproduce:**

1. Install Homebridge
2. Install Homebridge Honeywell Home plugin
3. Create Honeywell Home Developer account as per instructions
4. Input tokens/keys
5. Authorize Honeywell Consumer account
6. Change temperature in iOS Home App.

[2021-08-19 18:02] donavanbecker commented on #543
Can you try the latest beta?

[2021-08-22 18:12] matthiasotto commented on #543
@donavanbecker I didn't get around to trying the beta, but just updated to 10.0.0 and tried again:

[code]

[2021-09-06 19:31] InfiniteTape opened #547 "Bug: Cannot read battery level of leak detector."
### Describe The Bug

Started with a fresh install of Homebridge 1.3.4 and Honeywell plugin 10.0.1. Battery level of all three Honeywell leak detectors shows null%.

### To Reproduce

Install Homebridge fresh on Raspbian. Add just the Honeywell plugin and authenticate it.

### Expected behavior

Battery level is reported correctly.

### Relevant log output

[code]

### Config for homebridge-honeyw

[2021-09-10 12:04] donavanbecker commented on #547
Honeywell API does not give me this info to display so this will not happen unless Honeywell changes something, much looking at your config, might have happened. I will look into this.

[2021-09-10 14:41] InfiniteTape commented on #547
There's a "batteryRemaining" key in the response with a value as shown in the logs. Maybe the name of the key changed, because this worked a few months ago.

[2021-09-10 22:28] donavanbecker commented on #547
@InfiniteTape, I pushed out a new beta. See if that fixes it.

[2021-09-10 23:06] #531 closed, assigned to donavanbecker

[2021-09-12 00:54] mowens opened #553 "Bug: Link Account - Clicking on "Confirm" when configuring the Homebridge Config UI X instance does nothing when using HOOBS"
### Describe The Bug

When attempting to link account the "Confirm" button does nothing. Possible HOOBS specific?

### To Reproduce

Follow all setup steps using HOOBS

### Expected behavior

Clicking confirm would continue to the next step in the setup process

### Relevant log output

[code]

### Config for homebridge-honeywell-home

[code]

### Screenshots

<img width="971" alt="Screen Shot 202

[2021-09-12 03:07] donavanbecker commented on #553
You will need to[ move to homebridge](https://github.com/homebridge/homebridge-raspbian-image/wiki/How-To-Migrate-From-HOOBS-To-Homebridge).

I only develop this plugin for homebridge.

[2021-09-12 07:57] mowens commented on #553
Are the refreshToken and accessToken that are created when linking an account static or do they need to change over time? Since HOOBS runs Homebridge under the hood I was able to successful setup Homebridge locally to perform the setup process such that I was able to get the JSON configuration, then copy that over to HOOBS to get everything to show up. The thermostats reports the state correctly,

[2021-09-12 11:53] donavanbecker commented on #553
That log is a HOOBs log and is incorrect. HOOBs is completely different the homebridge. If you choose to stay on HOOBs, I will not be able to help with troubleshoot.

[2021-09-12 11:53] #553 closed, assigned to donavanbecker

[2021-09-12 13:12] #410 closed

[2021-09-12 15:06] mowens commented on #553
Fair enough 🙂. I get the same heating/cooling error when setup with homebridge so I will open a separate issue with the proper logs. Thanks!

[2021-09-12 15:19] mowens opened #554 "Bug: Unable to control the heating/cooling setting on Honeywell Lyric Round Wi-Fi Thermostat"
### Describe The Bug

Unable to control the heating/cool status [OFF, HEAT, COOL] on a lyric round wi-fi thermostat. The plugin is providing a 'Target Heating Cooling State' of 3 (which I believe stands for AUTO) which is outside of the supported values from the HomeKit spec for air conditioners

### To Reproduce

1. Configure Honeywell account and setup thermostats as described by the plugin
2. F

[2021-09-12 15:43] InfiniteTape commented on #547
@donavanbecker, that's fixed it and all values are working, though now my logs look like they're not getting filled in. Not sure if it's a regression or not.

[code]

[2021-09-12 16:06] donavanbecker commented on #547
I think this is do to the plugin debug log that I implemented.. need to change something for it to work correct.

[2021-09-12 19:32] mowens commented on #554
Looking at the logs and the source code it would appear that the "allowed modes" doesn't contain the "Auto" feature (https://github.com/donavanbecker/homebridge-honeywell-home/blob/latest/src/devices/thermostats.ts#L852) but the thermostat does actually support 'Auto'.

![IMG_8C0045C4AC0A-1](https://user-images.githubusercontent.com/4575216/133000205-cc61004f-f27c-4a76-8fd1-f866be38d131.jpeg)

The

[2021-09-13 14:47] rohair1981 opened #555 "Support Request:"
### Describe Your Problem

I am trying to link my account and getting an error after I select my thermostat when I sign into my Honeywell Home Account

### Relevant log output

[code]

### Config for homebridge-honeywell-home

_No response_

### Screenshots

![Screen Shot 2021-09-13 at 9 15 24 AM](https://user-images.githubusercontent.com/89661685/133103334-13fc9369-4464-4193-8bc6-6c866fb94eb5.png

[2021-09-13 17:53] #555 closed, assigned to donavanbecker

[2021-09-13 17:53] rohair1981 commented on #555
It is now working

[2021-09-18 12:29] donavanbecker commented on #547
@InfiniteTape Logs should be fixed and battery should be fixed.

[2021-09-18 12:29] #547 closed, assigned to donavanbecker

[2021-09-18 13:11] donavanbecker commented on #554
@mowens Can you submit a pull request?

[2021-09-18 14:19] mowens commented on #554
I certainly can. Mind providing setup details so I can verify my changes?

[2021-09-18 14:56] donavanbecker commented on #554
@mowens I use visual studio code, and test with watch script.

[2021-09-18 19:08] mowens commented on #554
@donavanbecker I don't have write access to create a pull request but I verified the following changes.

Fix Round thermostat Auto mode; Bump plugin version

The Round Thermostat that does not report 'Auto' in the available modes
should not be setting the autoChangeoverActive status as this will force
the mode into 'Auto' which will be rejected by the thermostat as an
unsupported mode.

Additional

[2021-09-18 19:15] mowens commented on #554
Here ya go:

https://github.com/donavanbecker/homebridge-honeywell-home/pull/558

[2021-09-19 11:10] donavanbecker commented on #554
@mowens Can you try the latest beta?

[2021-09-19 11:11] donavanbecker commented on #410
#554

[2021-09-19 15:07] mowens commented on #554
@donavanbecker Beta works great. I noticed that the plugin version and the latest release notes was out of sync tho. Based on your last commit the beta version should be 10.1.0 (which would make sense with the addition of the debug logging). The package version on the beta branch was actually 10.0.1. Fixed it for ya here:

https://github.com/donavanbecker/homebridge-honeywell-home/pull/559

[2021-09-19 15:17] donavanbecker commented on #554
@mowens, I usually let us GitHub actions version it for me when releasing betas. Once I push this to the latest branch and publish the release then it will be synced up with the release notes.

If I have time today. I will release 10.1.0

[2021-09-19 16:29] donavanbecker commented on #554
v10.1.0 has been released.

[2021-09-19 16:29] #554 closed, assigned to donavanbecker

[2021-09-19 17:17] donavanbecker commented on #543
can you try v10.1.0?

[2021-09-20 18:59] matthiasotto commented on #543
Works! Thank you @donavanbecker

[2021-09-20 18:59] #543 closed, assigned to donavanbecker

[2021-09-20 19:27] donavanbecker commented on #543
awesome!

[2021-09-21 04:59] ajayjprakash opened #561 "Support Request:"
### Describe Your Problem

Linking Account is not working

### Relevant log output

[code]

### Config for homebridge-honeywell-home

[code]

### Screenshots

![image](https://user-images.githubusercontent.com/91110359/134113772-1b6f61a0-05c2-41ad-8d4f-bcdf47902d85.png)

### Device & Model

Honeywell Round Thermostat

### Node.js Version

v.14.17.5

### NPM Version

v.7.20.5

### Homebridge Versio

[2021-09-21 11:58] donavanbecker commented on #561
You need to have homebridge v1.3.4.

I would recommend[ moving to homebridge](https://github.com/homebridge/homebridge-raspbian-image/wiki/How-To-Migrate-From-HOOBS-To-Homebridge).

[2021-09-21 13:12] ajayjprakash commented on #561
Is there anyway to update the configuration manually ?

Ajay Prakash
 Sent from a mobile device; please excuse the brevity and typo
________________________________
From: Donavan Becker ***@***.***>
Sent: Tuesday, September 21, 2021 6:58:55 AM
To: donavanbecker/homebridge-honeywell-home ***@***.***>
Cc: Ajay J Prakash ***@***.***>; Manual ***@***.***>
Subject: Re: [donavanbecker/homebridge-honeywe

[2021-09-21 13:12] shejobs commented on #561
Anyway to update the configuration manually ?

[2021-09-21 21:56] donavanbecker commented on #561
@ajayjprakash I develop this plugin for homebridge only, Sorry.

[2021-10-03 03:29] #561 closed, assigned to donavanbecker

[2021-10-14 04:26] mhellums opened #569 "Support Request:"
### Describe Your Problem

honeywell home via hoobs

### Relevant log output

[code]

### Config for homebridge-honeywell-home

_No response_

### Screenshots

[Homebridge Honeywell Home.pdf](https://github.com/donavanbecker/homebridge-honeywell-home/files/7343004/Homebridge.Honeywell.Home.pdf)

### Device & Model

hoobs 4.0.109

### Node.js Version

14.18.1

### NPM Version

apache-2.0

### Homeb

[2021-10-14 07:50] donavanbecker commented on #569
You need to have homebridge installed.

I would recommend[ moving to homebridge](https://github.com/homebridge/homebridge-raspbian-image/wiki/How-To-Migrate-From-HOOBS-To-Homebridge).

[2021-10-14 22:36] #569 closed, assigned to donavanbecker

[2021-10-18 05:03] rlabiak opened #574 "Relinking Account Error"
### Describe The Bug

error when trying to relink my honeywell account

### To Reproduce

unsure

### Expected behavior

my T9 isn't working currently due to an error

### Relevant log output

[code]

### Config for homebridge-honeywell-home

[code]

### Screenshots

_No response_

### Device & Model

Honeywell T9

### Node.js Version

14.18.1

### NPM Version

6.14.15

### Homebridge Version

4.4

[2021-10-18 05:05] rlabiak commented on #574
This has been working fine for months, and today it started doing this.

[2021-10-18 12:11] donavanbecker commented on #574
As the top log states, your re-link URL is not the same as what is needed.

[2021-10-21 14:23] dppeak opened #580 "Bug: v11 breaks functionality"
### Describe The Bug

After updating to v11.0.0, functionality is broken.

### To Reproduce

Updated to v11 and removed cached accessories as suggested.  Rolling back to 10.1.1 brings back functionality.

### Expected behavior

Should expose thermostat as in version 10.

### Relevant log output

[code]

### Config for homebridge-honeywell-home

[code]

### Screenshots

_No response_

### Device &

[2021-10-21 14:46] dppeak commented on #580
@donavanbecker -- This looks to be the same error as #574, but no relinking was attempted.  Plugin was just updated and cached accessories removed before restart.

[2021-10-21 15:32] donavanbecker commented on #580
@dppeak can you turn on device or Homebridge debug mode and get me the logs?

[2021-10-21 16:21] dppeak commented on #580
Well, I updated back to v11.0.0 and now it's working as it should!  Which is great, but now no help to figuring out what was happening.

[2021-10-21 19:00] donavanbecker commented on #580
yeah I wonder if it just got messed up when clearing the cache of the accessories. well at least it is working!

[2021-10-21 21:06] dppeak commented on #580
@donavanbecker I Spoke too soon, I had turned off debugging and restarted soon after I posted all ok.  Now the error happened again and Home app showed "not responding".  I've turned on Debugging and restarted...will wait for it to happen again.  One thing to note, the T10 remote sensor was still reporting and visible in Home app.

[2021-10-21 21:38] donavanbecker commented on #580
@dppeak, have you checked to see if your t10 has native HomeKit yet? because Honeywell has added it. See if you see a TSTAT-XXXXX bridge to add.

[2021-10-21 21:40] dppeak commented on #580
The firmware is still the old 1.02.08.

[2021-10-21 21:44] dppeak commented on #580
@donavanbecker

From Log:

[code]

[2021-10-21 21:48] dppeak commented on #580
@donavanbecker

15 minutes later:

[code]

[2021-10-21 21:53] donavanbecker commented on #580
@dppeak is it updated the thermostat? or is controlling it working? can you try the fan?

[2021-10-21 21:55] donavanbecker commented on #580
I pushed a new beta. can you try it?

Beta:

[![npm version](https://badgen.net/badge/beta/11.0.1-beta.0/orange)](https://www.npmjs.com/package/homebridge-honeywell-home)

[2021-10-21 21:59] dppeak commented on #580
I've updated and rebooted and it's updated now. We'll see in a few minutes if it has issues.

[2021-10-21 22:17] dppeak commented on #580
I've seen several updates in the log and everything is still working.  Maybe this will resolve #574 as well?

[2021-10-21 23:18] donavanbecker commented on #580
@dppeak So you think beta fixed it? Or something else?

[2021-10-21 23:23] dppeak commented on #580
@donavanbecker I think that fixed it!  At least an hour and still working.  Great job!

[2021-10-22 01:28] donavanbecker commented on #580
@dppeak Awesome! I will push out a bug fix version.

[2021-10-22 02:49] donavanbecker commented on #580
v11.0.1 is released with this fix.

[2021-10-22 02:49] #580 closed, assigned to donavanbecker

[2021-10-22 12:36] dppeak commented on #574
@rlabiak Try v11.0.1

[2021-10-24 02:45] jredner opened #583 "Bug: Unable to get 11.0.1 working - TypeError is logged and homebridge keeps restarting"
### Describe The Bug

Unable to get 11.0.1 working - TypeError is logged and homebridge keeps restarting (must remove plugin to restore homebridge)

### To Reproduce

Fresh install of 11.0.1, go through login/auth, restart homebridge

### Expected behavior

I expect after checking my 2 thermostats in the Honeywell Web UI config is linked.  It worked in previous versions for me no problem.

### Rel

[2021-10-26 01:31] dustindclark commented on #583
Same problem. Had to downgrade to v10.1.1.

[2021-10-26 03:08] jredner commented on #583
Indeed 10.1.1 resolved my issue.  Thank you.

[2021-10-26 03:12] donavanbecker commented on #583
@jredner i will look into this.

[2021-11-06 21:07] robboz4 opened #589 "Bug:"
### Describe The Bug

Temperature not accurately showing up on Homebridge

### To Reproduce

Normal operation

### Expected behavior

Correct Temperature dispalyed

### Relevant log output

[code]

### Config for homebridge-honeywell-home

[code]

### Screenshots

<img width="165" alt="Screen Shot 2021-11-03 at 10 33 56 AM" src="https://user-images.githubusercontent.com/3642405/140623586-83b3477d-

[2021-11-07 00:28] donavanbecker commented on #589
@robboz4 So guess what is the whole issue? I see the screenshots and then see missing refreshtoken which tells me that you need to relink your account.

[2021-11-07 00:58] robboz4 commented on #589
I couldn't relink due to this  error:
 {"code":400, "message":"The redirect URL provided does not match the redirect URL registered for the app."}
So I created a new APP and this time it linked and is reflecting the correct temperature.

The first time I linked the APP it worked. So I guess it broke in an update. I've noticed that the thermostats tend to report occasional issues reporting tot he m

[2021-11-07 00:58] #589 closed, assigned to donavanbecker

[2021-11-12 19:10] cwmn opened #590 "Bug:login for Honeywell Home"
### Describe The Bug

my username and password aren't recognized and clicking the forgot password button says the account isn't recognized

### To Reproduce

trying to complete the configuration

### Expected behavior

login success

### Relevant log output

[code]

### Config for homebridge-honeywell-home

[code]

### Screenshots

![image](https://user-images.githubusercontent.com/16178919/141521

[2021-11-12 19:37] donavanbecker commented on #590
@cwmn So your issues are your credentials? Because it would be your Honeywell home login that you would put into that last screenshot

[2021-11-12 20:10] cwmn commented on #590
Thanks for the quick replay as well as your plugin work. I tried my username from my developer.honeywellhome.com <http://developer.honeywellhome.com/> account and my account info from mytotalconnectcomfort.com <http://mytotalconnectcomfort.com/>, Both give me a message that a user with these credentials cannot be found.

Chuck

[2021-11-12 20:48] donavanbecker commented on #590
This is for Honeywell home accounts. So you will have to link your total comfort account to a Honeywell home account

[2021-11-12 21:00] cwmn commented on #590
Sorry, still unable to get this to work. I’ll just continue to use the TCC app I guess…

[2021-11-12 21:22] donavanbecker commented on #590
Download this app

https://apps.apple.com/us/app/honeywell-home/id880332077

Create Honeywell home account

Login and link to total comfort account.

[2021-11-12 22:42] cwmn commented on #590
Thanks, that was the ticket. However when all is said and done my brand new
RTH9585WF1004/U Wifi touchscreen Thermostat apparently isn’t supported!

Thanks again for all of the handholding. Kind of ironic after recently retiring from a 43 year career in Honeywell Aerospace….

Regards,
Chuck

[2021-11-12 22:52] donavanbecker commented on #590
there is also the [homebridge-tcc](https://github.com/NorthernMan54/homebridge-tcc) plugin you could try.

[2021-11-13 04:12] #590 closed, assigned to donavanbecker

[2021-11-20 05:32] donavanbecker commented on #583
Fixed in Version 11.1.0

[2021-11-20 05:32] #583 closed, assigned to donavanbecker

[2021-11-20 15:42] dmart120 opened #598 "Bug: Changing the temperature doesn't work"
### Describe The Bug

Changing the temperature doesn't work, it reverts back to the currently set temperature

### To Reproduce

Try to change the temperature

### Expected behavior

temperature should be set to new temperature

### Relevant log output

[code]

### Config for homebridge-honeywell-home

[code]

### Screenshots

_No response_

### Device & Model

T6

### Node.js Version

15.6.0

###

[2021-11-20 16:50] donavanbecker commented on #598
I would need more logs.

[2021-11-22 03:02] snopas576 opened #599 "Bug: Popup window to link account doesn't bring up sign in page"
### Describe The Bug

The "Link Account" button in Homebridge UI fails to bring up the sign in page for Honeywell, instead giving an error code 400.

### To Reproduce

Click on the Link Account Button in Homebridge UI

### Expected behavior

The sign-in page for Honeywell Home should load

### Relevant log output

[code]

### Config for homebridge-honeywell-home

[code]

### Screenshots

![Screens

[2021-11-22 04:23] donavanbecker commented on #599
Looks like your relink url is the same as what you are currently try to relink with.

What do you have in the relink hurl in the Honeywell developer account?

[2021-11-22 04:51] snopas576 commented on #599
The callback url in Honeywell developer is http://192.168.1.10:8581/

[2021-11-22 13:03] donavanbecker commented on #599
It should be port `8585`

[2021-11-23 05:12] snopas576 commented on #599
That seemed to have been the issue! The copy button was being a little wonky and I believe I pasted homebridge ui's url instead.

[2021-11-23 05:12] #599 closed, assigned to donavanbecker

[2021-11-23 13:16] #574 closed, assigned to donavanbecker

[2021-11-23 22:09] martennienhuis commented on #598
I have the same problem.

if i change the temp in homekit after 2 seconds the temp is back to the previous setting.
No additional issues in logfile, except  ‘ thermostatSetpointStatus: undefined’

also the setting permanent state or temp state is missing. In the previous version this was available.

i already removed the plugin and installed it again. This did not fix the issue.
I hope you can fix

[2021-11-25 12:36] donavanbecker commented on #598
I would need more logs, please put your plugin into debug mode

[2021-11-25 21:28] martennienhuis commented on #598
[code]

[2021-11-25 21:41] martennienhuis commented on #598
I hope this will help. Please let me know if more is needed?

[2021-12-09 15:45] NorthernMan54 opened #605 "Bug: Changelog has incorrect link for full changelog"
### Describe The Bug

This is the current link,  https://github.com/OpenWonderLabs/homebridge-switchbot/compare/v11.0.4...v11.1.0 which is the incorrect REPO

### To Reproduce

Look at the changelog

### Expected behavior

Link points to Honeywell home changes

### Relevant log output

[code]

### Config for homebridge-honeywell-home

[code]

### Screenshots

![image](https://user-images.githubuse

[2021-12-10 00:25] i2fat2kidnap commented on #598
I am also having this issue. Based on my troubleshooting, it does look like the API for Homebridge will send the command to turn the mode to "cool" and the Honeywell app is working independently and sending a signal as well saying that the mode is "off".  The "off" mode trumps the "cool" mode potentially because its sending that command faster than Homebridge.

[2021-12-11 06:44] onelight17 commented on #598
+1 to the same issue but with a T9

[2021-12-11 21:41] donavanbecker commented on #598
@onelight17 @i2fat2kidnap @martennienhuis @dmart120, can you try beta:

[![npm version](https://badgen.net/badge/homebridge-honeywell-home@beta/>=11.1.1-beta.1/orange)](https://www.npmjs.com/package/homebridge-honeywell-home)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2021-12-11 21:41] donavanbecker commented on #605
This is fixed in Version 11.1.1

[2021-12-11 21:41] #605 closed, assigned to donavanbecker

[2021-12-11 22:51] i2fat2kidnap commented on #598
Same issue :(

[2021-12-12 02:10] donavanbecker commented on #598
@i2fat2kidnap, okay lets try:

[![npm version](https://badgen.net/badge/homebridge-honeywell-home@beta/>=11.1.1-beta.2/orange)](https://www.npmjs.com/package/homebridge-honeywell-home)

[2021-12-12 02:40] i2fat2kidnap commented on #598
@donavanbecker - just tested it - I think we're getting closer, but it crashes Homebridge.  I uninstalled and reinstalled it as well.

`TypeError: Cannot read properties of undefined (reading 'log')
    at Timeout.refreshStatus [as _onTimeout] (C:\Users\xxx\AppData\Roaming\npm\node_modules\homebridge-honeywell-home\src\devices\thermostats.ts:386:21)
    at listOnTimeout (node:internal/timers:557:1

[2021-12-12 03:34] donavanbecker commented on #598
Thanks @i2fat2kidnap, sorry for that. The next beta should fix that error and this bug... I hope... ha

[![npm version](https://badgen.net/badge/homebridge-honeywell-home@beta/>=11.1.1-beta.3/orange)](https://www.npmjs.com/package/homebridge-honeywell-home)

[2021-12-12 04:15] i2fat2kidnap commented on #598
@donavanbecker - no problem, installed beta 3, same log error.

`TypeError: Cannot read properties of undefined (reading 'log')
    at Timeout.refreshStatus [as _onTimeout] (C:\Users\xxx\AppData\Roaming\npm\node_modules\homebridge-honeywell-home\src\devices\thermostats.ts:391:21)
    at listOnTimeout (node:internal/timers:557:17)
    at processTimers (node:internal/timers:500:7)`

[2021-12-12 04:26] donavanbecker commented on #598
@i2fat2kidnap  can you reinstall, restart, and try again? Because that log shouldn't happen.

[2021-12-12 04:35] donavanbecker commented on #598
@i2fat2kidna

Dang, fixed 1 line of code but forget 2 other lines, can you try the next beta?

[![npm version](https://badgen.net/badge/homebridge-honeywell-home@beta/>=11.1.1-beta.4/orange)](https://www.npmjs.com/package/homebridge-honeywell-home)

[2021-12-12 05:04] i2fat2kidnap commented on #598
Just tried it, crashing stopped, but the temperature/modes doesn't change the thermostat.

PS. Also on Discord if you want to troubleshoot on there.

[2021-12-12 13:27] martennienhuis commented on #598
Just tested beta 4. No crashes, but temperature changes back to the original setting…. So not yet fixed. I’m also missing the setting to permanent state or temporary state….

[2021-12-13 20:14] martennienhuis commented on #598
Beta 6… same problem….

[2021-12-15 21:07] riskitforabiscuit1252 commented on #598
Where are you seeing the updates on this or new beta downloads? I've been having the same issue as all of you.

[2021-12-15 22:18] i2fat2kidnap commented on #598
I'm in Discord testing with @donavanbecker

[2021-12-15 22:18] i2fat2kidnap commented on #598
I'm in Discord testing with @donavanbecker

[2021-12-15 22:19] donavanbecker commented on #598
I have found the issue, I just need to have time to fix it. Hopefully tonight.

[2021-12-16 05:09] donavanbecker commented on #598
this should be fix in v11.1.1. If anyone can confirm? I have tested this on a T9.

[2021-12-16 05:17] i2fat2kidnap commented on #598
Just tested on a T6 and confirmed working again! Thank you!

[2021-12-16 05:26] #598 closed, assigned to donavanbecker

[2021-12-16 06:10] martennienhuis commented on #598
Hi. Thanks a lot. Setting the temperature is now oke.
But, in the previous version there was a setting permanent hold and temporary hold. I can not find this anymore. Can you please fix this also?

[2021-12-16 12:00] donavanbecker commented on #598
@martennienhuis It is there. You need to grab your device if from the devices tab and then go to the Honeywell home device settings option, paste in your device id, select thermostat, and then you have that option.

Funny you say that, that is what the issue was, I wasn't sending that so it was erroring when sending the temp. So I set a default.

If you still can't find it, then I will take someti

[2021-12-16 14:05] martennienhuis commented on #598
aha... now I found it. Its a bit confusing but documenting wil help.

When I change the temp the first time everything works fine, but the next change I make wil result in error 400:

[code]

Any idea what this means?

[2021-12-16 14:30] donavanbecker commented on #598
The thermostatSetpointStatus shouldn't be undefined. Can you restart your bridge and post more logs in a new issue?

[2021-12-16 15:09] martennienhuis commented on #598
The first time after restart homebridge works fine:
[code]

[2021-12-16 15:10] martennienhuis commented on #598
the next change result in:
[code]

[2021-12-16 15:20] riskitforabiscuit1252 commented on #598
I have exactly the same issue as above

[2021-12-16 15:51] donavanbecker commented on #598
As stated, please open new issue.

[2021-12-16 16:05] martennienhuis opened #613 "Bug: Error "Request failed with status code 400" after second change of temperature after restart"
### Describe The Bug

After restarting homebridge the first temperature setting works fine, but the next wil fail with error 400.

### To Reproduce

restart homebridge, then set temperature in homekit, then set again temperature in homekit. Then temperature wil not change and error 400 appears in the logfile.

### Expected behavior

when set the temperature the temperature should be set.

### Rele

[2021-12-16 19:46] donavanbecker commented on #613
Can you try setting your `thermostatSetpointStatus` to permanentHold and see if it still gives you these errors?

[2021-12-16 21:50] martennienhuis commented on #613
When set to permanenthold error 400 is also there, but not after the second but after the third time to set de temperature.

[2021-12-17 16:20] donavanbecker commented on #613
@martennienhuis, can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-honeywell-home@beta/>=11.1.3-beta.1/orange)](https://www.npmjs.com/package/homebridge-honeywell-home)

[Click here to find out how to install Beta](https://github.com/OpenWonderLabs/homebridge-switchbot/wiki/Beta-Version)

[2021-12-17 17:13] martennienhuis commented on #613
Thanks for your quick response…..
When i set it to permanenthold everything seems to be fine.
But when I set it to temporaryhold and i do several changes of the temperature, after some several setting the logging shows permanent hold. Also when i check the honeywell home app it state is permanent hold…..
After i restart homebridge temporayhold is back, but after 4 times it is permanenthold again

[2021-12-17 17:17] donavanbecker commented on #613
@martennienhuis Can I get more logs?

[2021-12-17 17:31] martennienhuis commented on #613
[code]

[2021-12-18 07:50] donavanbecker commented on #613
@martennienhuis, can you try the latest beta:

[![npm version](https://badgen.net/badge/homebridge-honeywell-home@beta/>=11.3.1-beta.2/orange)](https://www.npmjs.com/package/homebridge-honeywell-home)

[Click here to find out how to install Beta](https://github.com/donavanbecker/homebridge-honeywell-home/wiki/Beta-Version)

[2021-12-18 08:09] donavanbecker commented on #613
This is fixed in Version 11.2.0

[2021-12-18 08:46] martennienhuis commented on #613
I just tested it, but the thermostat now fixed to permanenthold. This is reported in the log as wel in the honeywell home app.
So the setting is temporaryhold, but the log tells permanenthold.

[2021-12-18 08:52] martennienhuis commented on #613
[code]

[2021-12-18 08:58] donavanbecker commented on #613
Restart again and only use Device Logging

There should be a log when the device is first loaded that says what it is when it is set in the config.

[2021-12-18 09:06] martennienhuis commented on #613
[code]

[2021-12-18 09:17] donavanbecker commented on #613
@martennienhuis Have you checked your config again?

[2021-12-18 09:25] martennienhuis commented on #613
Yes, and to be sure, i changed the setting to permanenthold, then restart hombridge, then change the setting back to temporaryhold and restart homebridge again an the logfile still shows permanenthold.

[2021-12-18 12:48] donavanbecker commented on #613
@martennienhuis I tested this myself with it being on `NoHold` and had no issues, so not sure what else there is I can do.

[2021-12-18 13:47] martennienhuis commented on #613
I removed the plugin and installed again. Still permanent hold when temporary hold is selected, also when the setting is nohold.

[2021-12-18 14:11] martennienhuis commented on #613
I checked version 11.0.4, and this version works without problems. So the API seems to be oke.

[2021-12-18 17:53] riskitforabiscuit1252 commented on #613
This has fixed the issue for me also, thank you so much for your efforts.

[2021-12-18 18:30] donavanbecker commented on #613
@riskitforabiscuit1252 What fixed the issue?

[2021-12-18 18:30] donavanbecker commented on #613
I will have to look at the difference from then to now...

[2021-12-18 19:23] riskitforabiscuit1252 commented on #613
Sorry I was getting confused, I assumed @martennienhuis was talking about the newest update (11.2.0) when he said it was working without problems. My bad.

11.2.0 seems to have worked for me. Thanks again.

[2021-12-18 20:28] donavanbecker commented on #613
@martennienhuis, I looked over 11.0.4 and I am not see anything on why this shouldn't work in v11.2.0.

I would remove what you have in your config and reset backup with the UI.

[2021-12-18 21:07] martennienhuis commented on #613
I think i found something. I checked the config file and compared this with the settings screen and i found there was a space before the devicename. After removing this space in the config setting screen i restarted homebridge and now the temporaryhold is working. I think something went wrong with the copy-past from the device tab to the setting tab.
Maybe it is a good improvement to be able to se

[2021-12-18 22:05] martennienhuis commented on #613
I did some additional testing and i think this solved the problem. Version 11.2.0 seems te be fine. Thanks a lot for your help.

[2021-12-18 22:27] donavanbecker commented on #613
@martennienhuis, good to know. If someone smart then me is able to figure out how to handle that in the Custom UI, I would be willing to take a Pull Request for that, but I don't have enough coding knowledge to do that.

 I have added the `nextPeriodTime` as a config setting, that shows up in the config UI now so you can set how many hours you want to have this temporary hold set. This will always

[2021-12-19 02:46] #613 closed, assigned to donavanbecker

[2021-12-19 08:46] martennienhuis commented on #613
I tested the beta and it seems to work as you described. I see in the logfile the timestamp when the temporaryhold will end. I wil do some additional testing today and wait when this period is passed.

[2021-12-19 10:33] martennienhuis commented on #613
The `nextperiodtime` Is not working. I waited till the period is over and the thermostat is not changing back. Also the honeywell home app is not showing this schedulepoint.

I do not understand the usecase of this new setting.

In my situation My thermostat has a daily schedule for managing the temperature in my house. If i want to make it a little warmer i do this via homekit, but i want to be s

[2021-12-19 12:02] donavanbecker commented on #613
@martennienhuis Test again without inputting anything into nextperiod time. I am pretty sure I made it so that it wouldn't send next period time if nothing was in there.

[2021-12-19 12:31] martennienhuis commented on #613
I tested again without inputting anything into nextperiod time.
After changing the temperature setting in homekit, my thermostat is showing this on the display and in my honewell home app the temperature change is vissible, but the app is indicating that this setting is till my next scheduled time, in my case 9:30pm. So this is what i need, but I understand the default nextperiodtime is 4 hours, a

[2021-12-19 12:38] donavanbecker commented on #613
Well depending on peoples schedules. It should hold the temp for the next 4 hours, then revert to schedule. If schedule is in 3 hours it will go to the schedule. This will work good for users that have more wide open schedules, that only change the temp once a day.

[2021-12-19 13:42] martennienhuis commented on #613
Oke, I tested again without inputting anything into nextperiod time.
This is working as i expected, and as temporaryhold always worked.

next to this i did 2 tests:

test 1;
Add an aditional schedule time in my honeywel; 3pm. (Is first next)
then i added nextperiodtime is 4
Test started at 1pm

result 1;
My honeywell home app shows “keep until 3 pm”
Logfile shows nextperiodtime = 5pm

test 2;
I re

[2021-12-19 13:54] martennienhuis commented on #613
1 addition…. When i removed the nextperiod time i restarted homebridge.
The configfile has no nextperiodtime parameter,
but the logfile shows: nextperiodtime: 4 hours from now.

[2021-12-19 15:49] donavanbecker commented on #613
@martennienhuis  4 is default.

Maybe I will have to remove this, as it seems that the Honeywell api don't care about the time.

[2021-12-19 15:59] martennienhuis commented on #613
Oke. Again, thanks for your help. I’m happy with version 11.2.0.

[2022-01-06 21:46] tebasham opened #634 "Bug: "Failed to refresh access token: Bad Request" even after relinking"
### Describe The Bug

"Request failed with status code 400","name":"Error","stack":"Error: Request failed with status code 400

### To Reproduce

Issue is intermittent, restarting the child bridge will temporarily resolve

### Expected behavior

No error

### Relevant log output

[code]

### Config for homebridge-honeywell-home

[code]

### Screenshots

_No response_

### Device & Model

T5, FW 4.

[2022-01-06 21:58] tebasham commented on #634
Error does return on latest beta, 11.2.1-beta.5

[code]

[2022-01-07 01:24] donavanbecker commented on #634
@tebasham Have you relinked your account?

[2022-01-07 03:23] tebasham commented on #634
Yes account has been relinked, it resolves for a while sometimes up to 24 hours but the error returns.

[2022-01-07 03:58] donavanbecker commented on #634
@tebasham, I can't reproduce, I feel like this is a Honeywell issue.

[2022-01-07 12:29] donavanbecker commented on #634
What kind of router do you have?

[2022-01-09 21:57] tebasham commented on #634
AmpliFi HD Mesh FW: 3.6.0.

The issue was reproducing for a time on the beta, but has since stopped. I suspect you may be correct in that it was a Honeywell issue.

Thank you for looking into it.

[2022-01-14 19:32] #634 closed, assigned to donavanbecker

[2022-01-16 22:20] onelight17 commented on #634
@tebasham I got the same/similar error as well and am also using the AmpliFI Mesh. Not sure if that is related to do that though. It happened after I restarted homebridge, was working fine before that. Current running 11.3.3.

[code]

[2022-01-17 12:24] patricksmith0330 opened #647 "Bug: Temporary Hold not working"
### Describe The Bug

When temporary hold is selected in settings the thermostat does not change temperature. Works perfectly when set to permanent hold.

### To Reproduce

Set Thermostat Setpoint Status to hold and change temperature

### Expected behavior

temperature to change to new setting

### Relevant log output

[code]

### Config for homebridge-honeywell-home

[code]

### Screenshots

_No

[2022-01-22 21:41] erictpeterson opened #656 "Bug:Cannot Change Device Settings"
### Describe The Bug

I am trying to access device settings to change PERMANENT HOLD to TEMPORARY HOLD but none of the options show up in the UI

### To Reproduce

Go to Settings > Settings > Device Settings

### Expected behavior

I expect to see a handful of options that allow me to change aspects of the device, most specifically whether to show the fan and also to change the "hold" behavior to

[2022-01-22 21:51] donavanbecker commented on #656
Type in your deviceID as it says. You can find this in the logs or on the Devices Tab. Once you type in the Device ID you will see settings.

[2022-01-22 23:13] erictpeterson commented on #656
That helped a little but I still don't see most of the options I expect.

[image: Screen Shot 2022-01-22 at 3.11.48 PM.png]

[2022-01-22 23:17] erictpeterson commented on #656
I figured it out by modifying JSON but if there is something else I am
doing wrong please let me know.  Thanks!  Awesome plug-in!

[2022-01-22 23:43] donavanbecker commented on #656
Do you have a screenshot?

[2022-01-22 23:52] erictpeterson commented on #656
I sent it in my first reply.

[2022-01-23 00:07] donavanbecker commented on #656
You will need to post it on GitHub, emailing it isn't working.

[2022-01-23 00:10] erictpeterson commented on #656
Ok

[2022-01-23 01:21] patricksmith0330 commented on #647
Any ideas what I could be doing wrong?

[2022-01-26 20:19] donavanbecker commented on #647
@patricksmith0330, it looks like the TemporaryHold is being set, but I can only control what is sent, not what the API does with it. So could be something with how your schedule is setup.

[2022-01-29 15:18] clickbg opened #663 "Bug: Failed to refreshStatus, Internal Server Error"
### Describe The Bug

Occasionally my Honeywell Lyric leak sensors fail to refresh

### To Reproduce

Add Honeywell Lyric leak sensors via Homebridge

### Expected behavior

Token and sensor state is refreshed and if Honeywell Home error is detected the action is re-tried

### Relevant log output

[code]

### Config for homebridge-honeywell-home

[code]

### Screenshots

_No response_

### Device

[2022-01-29 15:36] donavanbecker commented on #663
As logs state `Server Error` this is something on Honeywell server side.

Would you like me to I add a refresh if a refresh fails?

[2022-01-29 15:45] clickbg commented on #663
Thanks for the past reply!

Yes if possible, from my limited experience with Honeywell Home servers they usually have a few ones in the pool which are always returning errors hence re-trying has a chance of hitting a working server.

Thanks!

[2022-01-29 19:27] donavanbecker commented on #663
Sounds good, I will add this as a config that you can enable per device

[2022-02-19 09:49] patricksmith0330 commented on #647
@donavanbecker it was a schedule issue and temporary hold is now working as expected.

[2022-02-19 09:51] #647 closed, assigned to donavanbecker

[2022-02-19 10:07] donavanbecker commented on #663
just implemented the `retry` option if you could give it a try.

Only enabled for Thermostats right now.

[2022-02-20 08:55] clickbg commented on #663
Thanks! Unfortunately I don't have a Honeywell thermostat. I only have leak sensors(Model  LeakDetector), so I cannot test the setting.

[2022-02-20 15:09] donavanbecker commented on #663
I will get it added to the leak sensor

[2022-02-21 10:13] #656 closed, assigned to donavanbecker

[2022-03-22 15:42] donavanbecker commented on #663
Should be available on all devices

[2022-03-23 15:59] clickbg commented on #663
Thanks I saw the option in the latest update and enabled it for all leak sensors. So far everything looks good, I just had one error message logged (note I've re-lined the account after update):

`
[3/22/2022, 3:03:01 PM] [HoneywellHome] Leak Sensor: Kitchen Sink failed to refreshStatus, Unauthorized Request
[3/22/2022, 3:03:01 PM] [HoneywellHome] Leak Sensor: Heating Box failed to refreshStatus,

[2022-03-23 16:12] donavanbecker commented on #663
Yeah sometimes Honeywell server does that.

[2022-04-22 17:18] #663 closed, assigned to donavanbecker

[2022-06-15 00:01] jbarnett12 opened #733 "No devices found"
### Describe Your Problem

I have followed the instructions for setting up the Honeywell Plugin. I have created the app on the Honeywell site and received a consumer key and secret. When I look at settings in the Honeywell Plugin that information is all there but no device is showing. I have a leak detector and a thermostat. I was able to add them using the instructions here but when I completed t

[2022-06-15 00:49] donavanbecker commented on #733
Did you restart homebridge?

[2022-06-15 01:48] jbarnett12 commented on #733
Yes I did and still no devices.

[2022-06-24 21:56] donavanbecker commented on #733
Did you get the ui that has you select your device?

[2022-06-24 22:01] jbarnett12 commented on #733
I did get this but there was no device to select

[2022-06-25 02:29] donavanbecker commented on #733
Then it isn't an issue with the plugin, it's how you have your plugin registered. What app do you use?

[2022-06-25 14:49] jbarnett12 commented on #733
Sorry I am not sure what you mean by app as I am trying to configure the plugin from the plugins ui in homebridge. I have a consumer key. consumer secret and token but when I clicjk on settings - no device is present

[2022-06-25 18:35] donavanbecker commented on #733
I understand that you are trying to connect with the plugin. But Which Honeywell app do you use to control your thermostat?

For this to work you need to have it linked to a Honeywell account.

[2022-06-25 18:51] jbarnett12 commented on #733
I am so sorry - I am using the Resideo App on my iphone

[2022-06-25 18:58] donavanbecker commented on #733
And what kind of device? Like model.

[2022-06-25 19:01] jbarnett12 commented on #733
It is a Honeywell (Lyric) Wifi THermostat

[2022-06-25 20:28] donavanbecker commented on #733
[@jbarnett12](https://github.com/jbarnett12) & [@camorobot](https://github.com/camorobot), I have just release v11.4.2, can you remove your config and try again?

[2022-06-25 21:05] jbarnett12 commented on #733
So this is what happens:
After I removed the plug I added it back and then went to settings -
1) I created an new app from Honeywell and added the consumer key and consumer secret and hit link account
2) A window from my browser (Edge) comes up and asks me to log on to Resideo (Honeywell) which I do
3) A screen asks me to allow Resideo to share information about me and my device to my honeywell (t

[2022-06-25 21:08] donavanbecker commented on #733
@jbarnett12 can you do this on another browser? like your iOS device?

[2022-06-25 21:47] jbarnett12 commented on #733
So on my iphone  I have the ability to edit the settings for the plug in but all I get is a screen showing the Homebridge and Honeywell logo but cant do any thing else.  I tried this on Firefox but when I select  "link account" I get a browser window that just says oops.

I appreciated that you are spending your valuable free time on this and it is not a big deal so please dont spend time on this

[2022-06-25 21:52] donavanbecker commented on #733
try edge again. This is definitely a browser issues since you didn't get this issue before.

also did you remove your config? maybe uninstall plugin and reinstall it.

[2022-06-25 22:35] jbarnett12 commented on #733
This time I went to my mac and used firefox. I got all the way to the link account screen - got the honeywell site and copied in the consumer key and secret. Hit link and got logged into Resideo , selected my device and hit approve access and got an "oops" back from the browser.
Could the issue be the call back URL I am specifying at the Honeywell developers site. The first time I did it  I used t

[2022-06-25 22:50] jbarnett12 commented on #733
So this is strange - one last try, I went back on my mac used safari, removed the plugin and reinstalled it. Re-setup on the app on Honeywell all in safari,
Added my devices and when I linked my account everything worked and now the plugin is working so it does look like a browser issue - but why would it not work on Edge or Firefox but would on Safari???

[2022-06-26 00:16] donavanbecker commented on #733
I think your right on the callback url. If that is not set correctly you will have issues linking.

[2022-06-26 00:16] #733 closed, assigned to donavanbecker

[2022-07-24 16:57] idsnowghost commented on #656
Having this same issue with a T5 after upgrading from 10.1.x to current version. Anyone have the config JSON to share to populate the "Settings" section?

[2022-07-24 20:18] idsnowghost opened #737 "Bug: Settings tab doesn't populate when installing with T5"
### Describe The Bug

Fresh install with T5 won't populate the "Settings" tab on config.

Same issue as #656, which was closed without resolution.

### To Reproduce

1) Install and link to T5 device
2) Click on "Settings" tab
3) Settings form doesn't populate. Nothing in config.json either for the device.

### Expected behavior

Populate "Settings tab" with form and options to set things such as P

[2022-07-28 02:50] juan2three commented on #737
I also have this issue. When clicking the “devices” tabs, it shows a loading cog but it never goes away. It might have to do from going to Resido from Honeywell

[2022-08-27 23:20] saimbhi opened #738 "Bug:"
### Describe The Bug

Link account doesn't work as expected

### To Reproduce

Enter correct key and secret

### Expected behavior

Linked account

### Relevant log output

[code]

### Config for homebridge-honeywell-home

[code]

### Screenshots

_No response_

### Device & Model

Round

### Node.js Version

latest

### NPM Version

latest

### Homebridge Version

Latest

### Homebridge Honeywell

[2022-08-28 00:49] donavanbecker commented on #738
Closing, will reopen when info about setup is input correctly with info and not `latest`

[2022-08-28 00:49] #738 closed, assigned to donavanbecker

[2022-08-28 01:45] SkyroOryks opened #739 "Support Request: redirect URL does not match"
### Describe Your Problem

trying to get everything registered with the honeywell developer site, I made a new app, inserted the callback url, and put in the key and secret codes, but i keep getting a 400 error. I made sure to type the callback exactly as shown in instructions. even tried forwarding the port.

### Relevant log output

[code]

### Config for homebridge-honeywell-home

_No response_

[2022-08-28 02:26] donavanbecker commented on #739
@SkyroOryks The log tells you what is wrong. You have to use the same redirect url as you have In the Honeywell developer app.

[2022-08-28 03:06] SkyroOryks commented on #739
Yes, I copied exactly what the system told me to copy for the callback url. I dont know why it’s coming up different somehow. http://homebridge.local:8585/

[2022-08-28 12:39] saimbhi commented on #739
Its because there is a bug or changes on the honeywell side.
Following change takes you further if you do some tweeks on the servers.js but then it never really completes:
https://api.honeywell.com/oauth2/authorize?response_type=code&redirect_uri=http://MYLOCALIP:8585/&client_id=XXXXXXXXXXXXXXXXX

Following doesn't work which is called when you click on "link account"
https://api.honeywell.com/oau

[2022-08-29 03:32] #737 closed, assigned to donavanbecker

[2022-08-30 10:43] patricksmith0330 commented on #739
@donavanbecker I have having the same issue. This is definitely a bug.

[2022-08-30 11:58] clickbg commented on #739
Same here, I tried multiple URLs in https://developer.honeywellhome.com/ but none worked. This was an installation that was working fine until Resideo took over.

**Correction**: You have to change the URL in https://developer.honeywellhome.com/ to http://YOUR_URL:8585/auth The change is adding /auth to the URL. That worked for me, you can get the correct app URL by coping the address from the err

[2022-08-30 21:05] donavanbecker commented on #739
This should be corrected in v11.4.3

[2022-08-31 03:55] #739 closed, assigned to donavanbecker

[2022-09-04 16:09] gruler opened #741 "Bug: BAD URL"
### Describe The Bug

Relink url is not working

### To Reproduce

Try to relink a Honeywell account

### Expected behavior

Be able to relink account

### Relevant log output

[code]

### Config for homebridge-honeywell-home

[code]

### Screenshots

_No response_

### Device & Model

Honeywell Thermostat

### Node.js Version

v16.17.0

### NPM Version

not sure how to find

### Homebridge Versio

[2022-09-04 16:18] donavanbecker commented on #741
What is your relink url in the Honeywell developer app?

And what is the relink url in the plugin?

[2022-09-04 16:58] gruler commented on #741
Where do I get that info?

[2022-09-04 17:57] donavanbecker commented on #741
Hit Unlink:
<img width="219" alt="Screenshot 2022-09-04 at 11 56 52 AM" src="https://user-images.githubusercontent.com/9875439/188327082-4612944e-749b-4f3c-bf37-dd0260ae0a64.png">

Then you should see this screen. Does it look like this?
<img width="764" alt="Screenshot 2022-09-04 at 11 57 39 AM" src="https://user-images.githubusercontent.com/9875439/188327103-31fa17e1-1c9b-4b8c-9c59-0f402c3ad798.

[2022-09-04 18:20] donavanbecker commented on #737
This will be fixed in next update.

[2022-09-04 18:34] gruler commented on #741
I previously had unlinked the account.
Now when I click on Honeywell Home Settings I get the attached a page
that looks like this.
When I enter the credentials, I get the error message.
{"code":400, "message":"The redirect URL provided does not match the
redirect URL registered for the app."}

[2022-09-04 18:42] donavanbecker commented on #741
you need to respond directly on Github, I am not seeing anything you sent.

[2022-09-04 18:45] gruler commented on #741
I previously had unlinked the account.
Now when I click on Honeywell Home Settings I get the attached a page that looks like this.
When I enter the credentials, I get the error message.
{"code":400, "message":"The redirect URL provided does not match the redirect URL registered for the app."}

![image](https://user-images.githubusercontent.com/19841120/188328789-aab01f75-d281-4f75-ae47-cfcbf1c7626

[2022-09-04 18:52] donavanbecker commented on #741
click the back arrow and send that screenshot.

[2022-09-04 20:11] gruler commented on #741
![image](https://user-images.githubusercontent.com/19841120/188331693-e4f052ff-1ebf-4537-a14b-145b90b9fdf7.png)

[2022-09-04 20:40] donavanbecker commented on #741
Is that the url here the same as the developer app?

[2022-09-04 20:44] gruler commented on #741
I went into Resido and found this  http://localhost:8585/

![image](https://user-images.githubusercontent.com/19841120/188332758-e8a99f6c-9f11-4234-9df8-7ba5126ec9c5.png)

[2022-09-04 20:49] gruler commented on #741
I changed it to include AUTH at the end, but now I am getting cannot connect to Local Host

[2022-09-04 21:15] donavanbecker commented on #741
Try without including with at the end in the app.

[2022-09-04 21:15] donavanbecker commented on #741
I may have to update some things. But you should be able to get it to work.

[2022-09-04 21:19] gruler commented on #741
Same error after removing the AUTH
    {"code":400, "message":"The redirect URL provided does not match the redirect URL registered for the app."}

[2022-09-05 18:15] mgldan commented on #741
I am seeing a very similar error. I tried to relink today.
﻿
<img width="809" alt="Screen Shot 2022-09-05 at 1 54 09 PM" src="https://user-images.githubusercontent.com/20715243/188499397-5e237bad-d46a-498d-a772-52dae00bc346.png">
<img width="600" alt="Screen Shot 2022-09-05 at 1 57 51 PM" src="https://user-images.githubusercontent.com/20715243/188499398-e7881d77-3bfb-47c3-9ac6-89efc209a166.png">
﻿

[2022-09-06 00:00] donavanbecker commented on #741
@mgldan, Your callback url in the Honeywell app is 8581 and should be 8585

[2022-09-06 00:31] gruler commented on #741
Donavan, mine is 8585 and I am getting the below error.
I've tried with and without AUTH in the callback

![image](https://user-images.githubusercontent.com/19841120/188523684-bfc59980-ea99-46b8-804a-8b3d99535116.png)

[2022-09-06 00:35] mgldan commented on #741
@donavanbecker Thanks, I’m not sure how they got out of sync. It must have been while I was trying to troubleshoot. I changed the callback URL at Honeywell’s site and it cleared up.

I definitely had the same 400 error as the OP at one point. Maybe the fix was some combination of clearing my cache, deleting my old Honeywell app, and relinking…

[2022-09-06 01:59] donavanbecker commented on #741
Need to update the ui so it doesn't post the auth in that UI, that's confusing.

[2022-09-08 18:58] gruler commented on #741
So, do I need to do something to get it to work or do you need to do something with the plugin?

Thanks,
Jim

[2022-09-08 23:06] donavanbecker commented on #741
Still researching. I think Honeywell might have did something recently. Because mine was working and now it isn't.

[2022-09-11 21:59] rrmills7777 commented on #741
Not sure if it's relevant at this point, but I'm definitely experiencing the same issue.  I currently can't link my honeywell app to the HB plugin.

[2022-09-11 22:14] donavanbecker commented on #741
Please try latest beta

[2022-09-11 22:18] rrmills7777 commented on #741
I will be happy to do that, but I don't know how :)

[2022-09-11 22:22] rrmills7777 commented on #741
I figured it out.  Now says I'm running  v11.4.5-beta.4.  Error persists.

[2022-09-12 13:48] rrmills7777 commented on #741
Made it a bit further... the server.js in the beta has not picked up the dropping of the 'auth' tag.  I manually made the changes in my installation, and now it gets further when linking.  It makes me put in my Resideo login/pass, and I can then select my thermostats.  Eventually it just says 'welcome to the server' and the plugin never picks up a config or gets any further.  So progress, but stil

[2022-09-12 13:54] donavanbecker commented on #741
@rrmills7777 can you put those changes into a pull request and then we can look into this further. I just haven't had time.

[2022-09-12 13:56] rrmills7777 commented on #741
You already made 2 commits on Sep 8 for this issue.  The first removed the 'auth' from index.html and server.js in homebridge-ui, the second reverted the change to server.js.  You just need to revert that last commit.

[2022-09-12 18:57] donavanbecker commented on #741
Is this what you are talking about?

https://github.com/donavanbecker/homebridge-honeywell-home/commit/c0ef2c5bdeae9501ab83ddce7d5faae901f9f3c9

I tried removing auth in server.js and that didn't work.

Need to look over documentation again to see what they changed.

[2022-09-14 16:49] rrmills7777 commented on #741
I have it working.  It involves changing a switch statement to look for nothing, which I don't love.

```case 'auth':```
becomes
``` case '':```

If you want i can put in a pull request and see if you have a better idea than I do about how to handle that case.

[2022-09-14 17:07] rrmills7777 commented on #741
OK, I honestly have no idea how to do a pull request.  Here are the changes I had to make to get it to work:

[code]

[2022-09-17 13:05] juan2three commented on #741
I'm also running into this issue only on HOOBS though. Works fine on HB UI. The url on HOOBS is https://homebridge-honeywell.iot.oz.nu/link-account which isn't a valid URL even though I set it as my redirect URL on the HoneyWell dev side

[2022-09-17 14:14] donavanbecker commented on #741
@juan2three I don't develop this for HOOBs. So can't help you there.

I would recommend switching to homebridge

[2022-09-18 17:54] egrass-git commented on #268
Say, did you ever find out more on TCC device support in the api?  I followed your same path and got everything working until I realized my TCC apparently was not supported.  Cheers.

[2022-09-21 02:16] juan2three commented on #741
I did, it works perfectly fine. HOOBs is claiming you are the developer of the official plugin, I left a review but I'm not sure if you want to report it

[2022-09-21 02:38] donavanbecker commented on #741
I am the developer of this plugin, but HOOBs does their own kind of homebridge and UI, so I can't guarantee things will work, since I only develop for homebridge and homebridge UI.

[2022-10-03 20:15] rrmills7777 commented on #741
Issue still exists for 1.0.0 release of plugin renamed to resideo

[2022-10-03 20:23] donavanbecker commented on #741
Must only be for specific accounts, mine is working fine.

[2022-10-11 07:17] mgldan commented on #741
Thanks, I’m not sure how they got out of sync. It must have been while I was trying to troubleshoot. I changed the callback URL at Honeywell’s site and it cleared up.
On Sep 5, 2022, 8:00 PM -0400, Donavan Becker ***@***.***>, wrote:

[2022-10-11 11:44] donavanbecker commented on #741
Nice

[2022-10-11 14:11] gruler commented on #741
Thanks, it is working now for me as well.

[2022-10-11 15:27] #741 closed, assigned to donavanbecker